/******************************************************************************************************************************************
General Styles
******************************************************************************************************************************************/
body{
	margin:0px; 
	padding:0px;
	font-family:arial;
	font-size:14px;
	color:#000;
}

a:link, a:active, a:visited {
	text-decoration:none;
	color:#1874CD;
	
}

a:hover {
	text-decoration:underline;
}

a.selected:link, a.selected:active, a.selected:visited {
}

a.no_hover:hover {
	text-decoration: none;
}

img{
	border:0px solid #000000;
	border-style:hidden;
}

h3{
	color:#006699;
	font-family:'arial narrow', sans-serif;
	font-weight:bold;
	letter-spacing:3px;
	font-size:16px;
}

p{
	line-height:1.33em;
}

ul {
	list-style:none;
}

textarea {
	position:relative;
	line-height:1.66em;
}

/******************************************************************************************************************************************
Sections
******************************************************************************************************************************************/

.header_section {
	position:relative;
	height:75px;
	width:100%;
	background-color:#FFF;
	border-bottom:1px solid #CCC;
}

.content_section {
	position:relative;
	margin-top:25px;
	min-height:550px !important;
	height:600px;
}

.footer_section {
	position:relative;
	border-top:1px solid #999;
}

/******************************************************************************************************************************************
padding, colors, borders
******************************************************************************************************************************************/
.center { text-align:center; }

.border_solid_grey{ border:1px solid #999; }

.padder_5{ padding:5px; }
.padder_5_top { padding-top:5px; }
.padder_10 { padding:10px; }
.padder_10_bottom { padding-bottom:10px; }
.padder_15_top { padding-top:15px !important; }
.padder_20 { padding:20px; }

.padder_no_top { padding-top:0; }
.padder_no_right { padding-right:0; }
.padder_no_bottom { padding-bottom:0; }
.padder_no_left { padding-left:0; }

.rounded_corners {
	-moz-border-radius:.25em;
	-webkit-border-radius:.25em;
	border-radius:.25em;
}

.color_black {
	color:#000;
}

.color_grey {
	color:#CCC;
}

.bg_color_blue {
	background-color:#104E8B;
}

.color_blue {
	color:#104E8B;
}



.font_title {
	font-weight:bold;
	font-size:16px;	
}

.font_med { font-size:12px; }
.font_small { font-size:10px; font-weight:bold; }

/******************************************************************************************************************************************
Widget
******************************************************************************************************************************************/

.widget_content_holder, .widget_nav_holder, .blog_slide, .slide, #slide_holder, #blog_holder, #p_holder, .p_slide {
	position:relative;
	height:550px;
}

.widget_holder {
	position:relative;
	margin:auto;
	padding:10px;
	-moz-box-shadow:2px 2px 5px #888;
	-webkit-box-shadow:2px 2px 5px #888;
	box-shadow:1px 1px 20px #888;
}

.widget_nav_holder {
	background-color:#EAEAEA;
	width:196px !important;
	border-right:2px solid #DEDBDB;
	float:left;
}

.widget_content_holder {
	width:732px !important;
	z-index:101;
	background-color:#FFF;
	overflow:hidden;
	float:left;
}

/******************************************************************************************************************************************
Side Nav
******************************************************************************************************************************************/
.logo_holder {
	position:relative;
	width:100%;
	height:80px;
	margin-top:10px;
	margin-bottom:5px;
	text-align:center;
	background: url( '/images/logo_ch.png' ) top left no-repeat;
}

.social_icons {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
}

.social_icons img {
	width:20px;
	height:20px;
}

.social_icons a {
	position:relative;
	border:0;
	margin-right:7px;
}

.social_icons a:hover {
	text-decoration:none;
}

/******************************************************************************************************************************************
Portfolio
******************************************************************************************************************************************/
.portfolio_grid {
	position:relative;
	width:100%;
	border-collapse:collapse;
}

.portfolio_grid td {
	width:33%;
}

/******************************************************************************************************************************************
Vertical Slides
******************************************************************************************************************************************/

.slide_controls {
	position:relative;
	width:190px;
	float:right;
}

.slide_controls li {
	position:relative;
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	padding:7px 0 7px 10px;
}

.slide_controls li a {
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:100;
}

.slide_controls li:hover, .slide_controls li.selected {
	background-color:#FFF;
	-moz-box-shadow:2px 0px 5px #888;
	-webkit-box-shadow:2px 0px 5px #888;
	box-shadow:-2px 1px 7px #888;
	-moz-border-radius:.25em 0 0 .25em;
	-webkit-border-radius:.25em 0 0 .25em;
	border-radius:.25em 0 0 .25em;
}

.nav_item_icon_holder, .nav_item_desc_holder {
	position:relative;
	float:left;
}

.nav_item_icon_holder {
	width:55px;	
}

.nav_item_desc_holder {
	width:130px;
}

.nav_item_icon {
	position:relative;
	width:45px;
	height:45px;
	border:1px solid #000;
	-moz-box-shadow:2px 2px 2px #888;
	-webkit-box-shadow:2px 2px 2px #888;
	box-shadow:2px 2px 2px #888;
	-moz-border-radius:3.25em;
	-webkit-border-radius:3.25em;
	border-radius:3.25em;
}

#icon1 { background-color:#FF0000; }
#icon2 { background-color:#FFFF00; }
#icon3 { background-color:#00FF00; }
#icon4 { background-color:#00FFFF; }
#icon5 { background-color:#0066FF; }

/******************************************************************************************************************************************
Horizontal slides
******************************************************************************************************************************************/

#blog_search_term {
	position:relative;
	width:150px;
	height:20px;
	font-size:14px;
	border-style:hidden;
}

#blog_search_button {
	position:relative;
	float:left;
	border-left:1px solid #999;
	height:22px;
	padding-left:5px;
	padding-right:5px;
	line-height:22px;
	vertical-align:middle;
}

#blog_search_button:hover {
	cursor:pointer;
	cursor:hand;
	background-color:#00CCFF;
}

.blog_search_holder {
	position:relative;
	height:22px;
	background-color:#FFF;
	margin-right:7px;
}

.blog_slide, .blog_controls, .p_slide {
	width:712px;
}

.blog_slide, .p_slide {
	margin-right:10px;
}

.blog_slide_table {
	position:relative;
	border-collapse:collapse;
}

.blog_controls, .blog_controls_tab, .p_controls {
	position:absolute;
	border:1px solid #999;
	/*background-color:#EAEAEA;*/
	border-bottom:0;
}

.blog_controls, .p_controls {
	bottom:0px;
	left:10px;
	z-index:100;
	height:32px;
	-moz-border-radius:.5em .5em 0 0;
	-webkit-border-radius:.5em .5em 0 0;
	border-radius:.5em .5em 0 0;
}

.p_controls {
	height:25px !important;
}

.p_img_holder {
	position:relative;
	padding:10px;
	margin-top:5px;
	background-color:#EAEAEA;
	border:1px solid #999;
}

.p_img_holder img {
	position:relative;
	width:690px;
}
.blog_controls_tab {
	top:-20px;
	right:-1px;
	width:30px;
	height:14px;
	-moz-border-radius:.25em .25em 0 0;
	-webkit-border-radius:.25em .25em 0 0;
	border-radius:.25em .25em 0 0;
	z-index:101;
}

.blog_nav {
	position:relative;
}

.blog_nav td {
	vertical-align:center;	
}

.blog_nav td a, .blog_nav td a#blog_search_button {
	display:block;
	padding:3px 10px 3px 10px;
	background-color:#FFF;
}

.blog_nav td a:hover, .blog_nav td a#blog_search_button:hover  {
	text-decoration:none;
	background-color:#00CCFF;	
}

.blog_nav td a.selected_blog {
	background-color:#00CCFF;
	color:#000;	
}

.blog_nav td a#blog_search_button {
	color:#000;	
}