/******************************************************************************************************************************************
General Styles
******************************************************************************************************************************************/
body{
	margin:0px; 
	padding:0px;
	font-family:arial;
	font-size:14px;
	color:#000;
}

a:link, a:active, a:visited {
	text-decoration:none;
	color:#1874CD;
	
}

a:hover {
	text-decoration:underline;
}

a.selected:link, a.selected:active, a.selected:visited {
}

a.no_hover:hover {
	text-decoration: none;
}

img{
	border:0px solid #000000;
	border-style:hidden;
}

h3{
	color:#006699;
	font-family:'arial narrow', sans-serif;
	font-weight:bold;
	letter-spacing:3px;
	font-size:16px;
}

ul {
	list-style:none;
}

textarea {
	position:relative;
	line-height:1.66em;
}

.default_line_height {
	line-height:1.33em;
}

/******************************************************************************************************************************************
Sections
******************************************************************************************************************************************/

.header_section {
	position:relative;
	height:75px;
	width:100%;
	background-color:#FFF;
	border-bottom:1px solid #CCC;
}

.content_section {
	position:relative;
	margin-top:25px;
	min-height:550px !important;
	height:600px;
}

.footer_section {
	position:relative;
	border-top:1px solid #999;
}

/******************************************************************************************************************************************
padding, colors, borders
******************************************************************************************************************************************/
.center { text-align:center; }

.border_solid_grey{ border:1px solid #999; }

.padder_5{ padding:5px; }
.padder_5_bottom{ padding-bottom:5px; }
.padder_5_top { padding-top:5px; }
.padder_10 { padding:10px; }
.padder_10_bottom { padding-bottom:10px; }
.padder_15_top { padding-top:15px !important; }
.padder_20 { padding:20px; }

.padder_no_top { padding-top:0; }
.padder_no_right { padding-right:0; }
.padder_no_bottom { padding-bottom:0; }
.padder_no_left { padding-left:0; }

.rounded_corners {
	-moz-border-radius:.25em;
	-webkit-border-radius:.25em;
	border-radius:.25em;
}

.color_black {
	color:#000;
}

.color_grey {
	color:#CCC;
}

.bg_color_blue {
	background-color:#104E8B;
}

.color_blue {
	color:#104E8B;
}

.font_title {
	font-weight:bold;
	font-size:16px;	
}

.font_med { font-size:12px; }
.font_small { font-size:10px; font-weight:bold; }

/******************************************************************************************************************************************
Construction
******************************************************************************************************************************************/

.construction_container {
	position:relative;
	width:300px;
	height:150px;
	margin:auto;
	margin-top:200px;
	border:1px solid #000;
}

.construction_inner {
	position:relative;
	padding-top:65px;
}